
@model IEnumerable<TMSCodeFirst.Models.Tender>

@{
    ViewBag.Title = "Welcome Admin";
}

<style>
.buttons 
{
   padding: 20px;
   background-color: lightblue;
}
</style>

<div style="margin-top:30px">
    <a class="buttons" href='@Url.Action("AddTender", "Admins")'>
        <input type='button' value='Add Tender' />
    </a>

    @*<a href='@Url.Action("Search", "Admins")'>
            <input type='button' value='Search Tender' />
        </a>*@

    <a class="buttons" href='@Url.Action("DisplayContractors", "Contractors")'>
        <input type='button' value='Search Contractor' />
    </a>

    <a class="buttons" href='@Url.Action("RequestsEvaluation", "JoinedTable")'>
        <input type='button' value='Pending Evaluations' />
    </a>

    <a class="buttons" href='@Url.Action("RequestsApproval", "JoinedTable")'>
        <input type='button' value='Pending Approvals' />
    </a>

    <a class="buttons" href='@Url.Action("", "")'>
        <input type='button' value='Generate Report' />
    </a>

    <a class="buttons" href='@Url.Action("AvailableFeedbacks", "Admins")'>
        <input type='button' value='See Feedbacks' />
    </a>
</div>

<style>
    .customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .customers td, .customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .customers tr:hover {
            background-color: #ddd;
        }

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<table class="customers" id="myElement">
    <h2 style="text-align:center; border-radius:10px; padding:10px" class="bg-danger">Available Tenders</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenderStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenderEndDate)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenderId)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Category)*@
                    @Html.DisplayFor(modelItem => item.TenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenderType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenderStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenderEndDate)
                </td>
                
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#myElement").DataTable();
    });
    </script>
}






