@*@{
        ViewBag.Title = "ChangePassword";
    }

    <h2>ChangePassword</h2>*@

@model TMSCodeFirst.Models.Contractor

@{
    ViewBag.Title = "ChangePassword";
}
<style>

    #changepassword {
        width: 500px;
        margin-left: 350px;
        opacity: 0.8;
    }

    .ip {
        margin-left: 100px;
    }

    #forminputs {
        text-align: center;
    }
</style>

<body style="background-color:blanchedalmond">
    <h2>Change Password</h2>

    <div id="changepassword">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <br />
                <br />
                <h4>Yayyy! ???? We have recovered your account!??</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <br />
                <br />


                <div class="form-group">

                    <div class="col-md-10 ip">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "forminputs", @class = "form-control", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">

                        <div class="col-md-10 ip">
                            @Html.EditorFor(model => model.UserConfirmPassword, new { htmlAttributes = new { @id = "forminputs", @class = "form-control", @placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.UserConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>*@



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="changepass" value="Save" class="btn btn-success" style="width: 500px; margin-left:12px;" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>
