@*@{
        ViewBag.Title = "ForgotPassword";
    }

    <h2>ForgotPassword</h2>*@

@model TMSCodeFirst.Models.Contractor
<style>

    #forgotpassword {
        width: 500px;
        margin-left: 350px;
        opacity: 0.8;
    }

    .ip {
        margin-left: 100px;
    }

    #forminputs {
        text-align: center;
    }
</style>



<body style="background-color:blanchedalmond">
    <div id="forgotpassword">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <br />
                <br />
                <br />
                <h4 style="color:black">Thats Ok! </h4>
                <h5 style="color:black">We will need some details to verify you.</h5>
                <hr />
                <br />
                <br /><br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="col-md-10 ip">
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @id = "forminputs", @class = "form-control", @placeholder = "User ID" } })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="form-group">

                    <div class="col-md-10 ip">
                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @id = "forminputs", @class = "form-control", @placeholder = "Contact" } })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">

                    <div class="col-md-10 ip">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "forminputs", @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Verify" class="btn btn-success" style="width: 500px;  margin-left:12px;" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>

<div>
    @Html.ActionLink("Register ", "Create", "Contractor")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


