
@model IEnumerable<TMSCodeFirst.Models.Tender>

@{
    ViewBag.Title = "Welcome Contractor";
}

<div style="margin-top:50px">
    @*<a href='@Url.Action("AddTender", "Admins")'>
            <input type='button' value='Add Tender' />
        </a>*@

    @*<a href='@Url.Action("Search", "Contractors")'>
            <input type='button' value='Search Tender' />
        </a>*@

    <a href='@Url.Action("ContractorHistory", "JoinedTable")'>
        <input type='button' value='My Contracts' />
    </a>

    <a href='@Url.Action("Help", "Contractors")'>
        <input type='button' value='Help' />
    </a>

    <a href='@Url.Action("TriggerMail", "TechnicalFeedback")'>
        <input type='button' value='Issue' />
    </a>
</div>

<style>
    .customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .customers td, .customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .customers tr:hover {
            background-color: #ddd;
        }

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<table class="customers" id="myElement">
    <h2>Available Tenders</h2>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenderStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenderEndDate)
        </th>
        <th>
            Details
        </th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenderId)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Category)*@
                @Html.DisplayFor(modelItem => item.TenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenderStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenderEndDate)
            </td>
            <td>
                @Html.ActionLink("Details", "AvailableTenderDetails", new { id = item.TenderId })
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#myElement").DataTable();
    });
    </script>
    }






